# Ignore MacOS File
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/
gender/.ipynb_checkpoints/
beard/.ipynb_checkpoints/
nation/.ipynb_checkpoints/
haircolor/.ipynb_checkpoints/

# Python bytecode
__pycache__/

# IDE specific files
.vscode/
.idea/
